.fixed, #methods .used {
    color:#6c757d;opacity:1
}

.active-target {
    border-color: yellow;
    background-color: yellow;
    padding-bottom: 10px;
}

#content ul {
    margin-bottom: 0px;
}

.horse {
    background-color: #006a4d;
    width: 100%;
    padding: 10px;
    color:white;
}
.btn {
    color:white
}