<!DOCTYPE html>
<html>

<head>
    <title>Pipeline Catalogue</title>
    <link rel="shortcut icon" href="{{ url_for('static',filename='favicon.ico') }}">
    {% assets "css_all" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
</head>

<body>

    <h3 class="horse">Pipeline Catalogue</h3>
    <div class="container py-5">
        {% block content %}
        {% endblock content %}
    </div>
    {% assets "js_all" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
</body>

</html>