{% extends 'base.html' %}
{% block content %}

<div id="content" class="row justify-content-between">
    <div class="col-3">
    <h5>1: Drag from here</h5>
    <div id="methods" class="methods"></div>
    </div>
    <div class="col-3">
    <h5>2: To here</h5>
    <div id="pipeline-list" class="methods"></div>
    </div>
    <div class="col-5">
        <h5>3: Expand these</h5>
        <div id="accordion">
        <div class="card">
            <div class="card-header bg-dark text-light"><button class="text-light btn btn-link collasped" data-toggle="collapse" id="collapsePipeline" aria-expanded="false" data-target="#pipelineHolder">Pipeline</button></div>
                <div class="border collapse" id="pipelineHolder" aria-labelledby="collapsePipeline" data-parent="#accordion">
                    <div class="card-body" id="pipeline"> </div>
                </div>
        </div>
        <div class="card">
            <div class="card-header bg-dark text-light"><button class="collapsed text-light btn btn-link" data-toggle="collapse" id="collapseConfig" aria-expanded="false" data-target="#configHolder">config/Jenkinsfile.yaml</button></div>
                <div class="border collapse" id="configHolder" aria-labelledby="collapseConfig" data-parent="#accordion">
                    <div class="card-body" id="config"> </div>
                </div>
        </div>
    </div>
    </div>

</div>

{% endblock content %}