{% extends 'base.html' %}
{% block content %}

<div id="content" class="row justify-content-between">
    <div class="col-3">
        <h5>1: Drag from here</h5>
        <div id="methods"></div>
    </div>
    <div class="col-3">
        <h5>2: To here</h5>
        <div id="pipeline-list"></div>
    </div>
    <div class="col-5">
        <h5>3: Expand these</h5>
        <div id="accordion">
        <div class="card">
            <div class="card-header bg-dark"><button class="btn btn-link" data-toggle="collapse" id="collapsePipeline" data-target="#pipeline">Pipeline</button></div>
            <pre class="collapse card-body" id="pipeline" aria-labelledby="collapsePipeline" data-parent="#accordion"></pre>
        </div>
        <div class="card">
            <div class="card-header bg-dark"><button class="btn btn-link" data-toggle="collapse" id="collapseConfig" data-target="#config">config/Jenkinsfile.yaml</button></div>
                <pre class="collapse card-body" id="config" aria-labelledby="collapseConfig" data-parent="#accordion"></pre>
        </div>
    </div>
    </div>

</div>

{% endblock content %}